provider "aws" {
    alias = ${account_id}
		access_key = data.vault_aws_access_credentials.${account_id}.access_key
	  secret_key = data.vault_aws_access_credentials.${account_id}.secret_key
		token = data.vault_aws_access_credentials.${account_id}.security_token
}

data "vault_aws_access_credentials" "${account_id}" {
	backend = "aws"
	type = "sts"
	role = "account_management"
	role_arn = "arn:aws:iam::${account_id}:role/OrganizationAccountAccessRole"
	ttl = "30m"
}